/*font-family: 'Borel', cursive;
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --main-background-color: #f7f7f7;
  --secondary-background-color: #eeeeee;
  --main-font-color: #393e46;
  --secondary-font-color: #929aab;
}

body {
  background-color: var(--main-background-color);
}
h1,
h2 {
  color: var(--main-font-color);
  font-family: "Lora", serif;
  text-align: center;
}
.main {
  background-color: var(--secondary-background-color);
  padding: 170px 40px;
}
.main p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
  font-size: 36px;
}
.main h1 {
  font-size: 92px;
}
.main h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}
.main .about-button {
  padding: 10px 20px;
  display: block;
  margin: 50px auto;
}
.project-headline {
  font-weight: bold;
}
.project-desc {
  padding: 100px 40px;
}
.btn-more-info {
  font-weight: bold;
  border: 1px solid var(--main-font-color);
  padding: 10px 20px;
  line-height: 27px;
  font-size: 14px;
  color: var(--main-font-color);
}
.btn-more-info:hover {
  cursor: pointer;
  color: var(--main-background-color);
  background-color: var(--main-font-color);
}
img {
  border-radius: 10px;
  max-width: 100px;
}
@media (max-width: 900px) {
  .main p {
    font-size: 18px;
  }
  .main h1 {
    font-size: 58px;
  }
  .main h2 {
    font-size: 20px;
  }
  .project-desc {
    padding: 20px;
    text-align: center;
  }
}
