/*font-family: 'Borel', cursive;
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --main-background-color: #f7f7f7;
  --secondary-background-color: #eeeeee;
  --main-font-color: #393e46;
  --secondary-font-color: #929aab;
  --pop-color: #6643b5;
}

body {
  background-color: var(--main-background-color);
}
h1,
h2 {
  color: var(--main-font-color);
  font-family: "Lora", serif;
  text-align: center;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
i {
  margin: 15px;
  color: var(--main-font-color);
  transition: all ease-in-out 200ms;
  background-color: var(--secondary-background-color);
  padding: 20px;
  border-radius: 15px;
}
i:hover {
  color: var(--pop-color);
  font-size: 30px;
}
footer {
  padding-bottom: 60px;
  color: var(--main-font-color);
  font-family: "Lora", serif;
}
.github-link {
  color: var(--pop-color);
  text-decoration: none;
}
.github-link:hover {
  font-weight: bold;
  cursor: pointer;
}
.nav-item {
  color: var(--main-font-color) !important;
}
.active {
  color: var(--pop-color) !important;
}
.main {
  background-color: var(--secondary-background-color);
  padding: 170px 40px;
  color: var(--main-font-color);
}
.main p {
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
  font-size: 36px;
}
.main h1 {
  font-size: 92px;
}
.main h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}
.main .about-button {
  padding: 10px 20px;
  display: block;
  margin: 50px auto;
}
.main .about-button:hover {
  cursor: pointer;
  color: var(--main-background-color);
  background-color: var(--pop-color);
  border: 1px solid var(--pop-color);
}
.project-headline {
  font-weight: bold;
}
.project-desc {
  padding: 100px 40px;
}
.project-desc .btn {
  margin: 5px auto;
}
.btn-more-info {
  font-weight: bold;
  padding: 10px 20px;
  line-height: 27px;
  font-size: 14px;
  display: block;
  margin: 50px auto;
}
.btn-more-info:hover {
  cursor: pointer;
  color: var(--main-background-color);
  background-color: var(--pop-color);
  border: 1px solid var(--pop-color);
}
img {
  border-radius: 10px;
  max-width: 100px;
}
.row-content h2,
p {
  text-align: justify;
  padding: 12px;
}

.about-content {
  margin: 50px auto;
  padding: 8px;
}
.btn-back-home {
  font-weight: bold;
  border: 1px solid var(--pop-color);
  padding: 10px 20px;
  line-height: 27px;
  font-size: 14px;
  color: var(--pop-color);
  margin: 10px auto;
}
.btn-back-home:hover {
  cursor: pointer;
  color: var(--main-background-color);
  background-color: var(--pop-color);
}
.main-contact {
  background-color: var(--secondary-background-color);
  padding: 20px 40px;
  margin: 60px 20px;
  border-radius: 5px;
}
.main-contact h2 {
  padding: 30px 10px;
}
.main-contact h3 {
  line-height: 3px;
}
.main-contact a {
  text-decoration: none;
  color: var(--main-font-color);
}
.main-contact a:hover {
  opacity: 70%;
  text-decoration: underline;
  cursor: pointer;
  color: var(--pop-color);
}
.cert-link {
  text-decoration: none;
  color: var(--pop-color);
  transition: all ease-in-out 200ms;
}
.cert-link:hover {
  color: var(--pop-color);
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}
@media (max-width: 900px) {
  .main p {
    font-size: 18px;
  }
  .main h1 {
    font-size: 58px;
  }
  .main h2 {
    font-size: 20px;
  }
  .project-desc {
    padding: 20px;
    text-align: center;
  }
  .row-content {
    padding: 5px 8px;
    padding-top: 0;
  }
}
